In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer

import os
import sys
#sys.path.append(os.path.abspath(os.path.join('../data')))

In [2]:
x = pd.read_csv('../data/features/train_features.csv')
yt = pd.read_csv('../data/features/target_sales.csv')
z = pd.read_csv('../data/features/test_features.csv')
train_df = pd.read_csv('../data/eda/train.csv')

C:\Users\dell\AppData\Local\Temp\ipykernel_14304\3723259094.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv('../data/eda/train.csv')

In [12]:
x.head(5)

,Store,DayOfWeek,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,DayOfMonth,WeekOfYear,weekday,part_of_month
0,1,5,1,1,0,1,2015,7,31,31,1,2
1,2,5,1,1,0,1,2015,7,31,31,1,2
2,3,5,1,1,0,1,2015,7,31,31,1,2
3,4,5,1,1,0,1,2015,7,31,31,1,2
4,5,5,1,1,0,1,2015,7,31,31,1,2

In [4]:
train_df.drop(['StateHoliday'], axis=1, inplace=True)
train_df.drop(['Date'], axis=1, inplace=True)

In [5]:
train_df.head(5)

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday,Year,Month,DayOfMonth,WeekOfYear,weekday
0,1,5,5263,555,1,1,1,2015,7,31,31,1
1,2,5,6064,625,1,1,1,2015,7,31,31,1
2,3,5,8314,821,1,1,1,2015,7,31,31,1
3,4,5,13995,1498,1,1,1,2015,7,31,31,1
4,5,5,4822,559,1,1,1,2015,7,31,31,1

In [6]:
X = train_df.drop('Sales',axis=1)
y = train_df['Sales']

In [7]:
y.head(5)

0     5263
1     6064
2     8314
3    13995
4     4822
Name: Sales, dtype: int64

In [8]:
#X_train,X_test,y_train,y_test=train_test_split(x, y,test_size=0.3,random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [9]:
pipeline_randomforest=Pipeline([
                     ('imputer', SimpleImputer(strategy='mean')),
                    ('scalar3',StandardScaler()),
                     ('rf_classifier',RandomForestRegressor(n_jobs=-1, n_estimators=15,
                                verbose=True,
                                max_depth=15,
                                min_samples_split=2,
                                min_samples_leaf=1))])

In [10]:
rf_model = pipeline_randomforest.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  15 out of  15 | elapsed:   26.4s finished

In [11]:
rf_model.score(X_test, y_test)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  15 out of  15 | elapsed:    0.1s finished

0.9198604997171552