In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestRegressor
from sklearn.impute import SimpleImputer

import os
import sys
sys.path.append(os.path.abspath(os.path.join('../scripts')))
from eda import *
import datetime
import pickle

In [2]:
x = pd.read_csv('../data/features/train_features.csv')
yt = pd.read_csv('../data/features/target_sales.csv')
z = pd.read_csv('../data/features/test_features.csv')
train_df = pd.read_csv('../data/train.csv')

C:\Users\dell\AppData\Local\Temp\ipykernel_9708\3949756046.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv('../data/train.csv')

In [3]:
train_df.head(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
train_df.drop(['StateHoliday'], axis=1, inplace=True)
train_df.drop(['Date'], axis=1, inplace=True)
X = train_df.drop('Sales',axis=1)
y = train_df['Sales']

train_df

         Store  DayOfWeek  Sales  Customers  Open  Promo  SchoolHoliday
0            1          5   5263        555     1      1              1
1            2          5   6064        625     1      1              1
2            3          5   8314        821     1      1              1
3            4          5  13995       1498     1      1              1
4            5          5   4822        559     1      1              1
...        ...        ...    ...        ...   ...    ...            ...
1017204   1111          2      0          0     0      0              1
1017205   1112          2      0          0     0      0              1
1017206   1113          2      0          0     0      0              1
1017207   1114          2      0          0     0      0              1
1017208   1115          2      0          0     0      0              1

[1017209 rows x 7 columns]

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [6]:
pipeline_randomforest=Pipeline([
                    ('scalar3',StandardScaler()),
                     ('rf_classifier',RandomForestRegressor(n_jobs=-1, n_estimators=15,
                                verbose=True,
                                max_depth=15,
                                min_samples_split=2,
                                min_samples_leaf=1))])

In [7]:
rf_model = pipeline_randomforest.fit(X_train, y_train)

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  15 out of  15 | elapsed:   15.5s finished

In [8]:
rf_model.score(X_test, y_test)

[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  15 out of  15 | elapsed:    0.2s finished

0.926824385869933

In [9]:
predictions = rf_model.predict([[6,2,437.0,1.0,1, 0]])
predictions = np.around(predictions)
predictions

C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
[Parallel(n_jobs=4)]: Using backend ThreadingBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  15 out of  15 | elapsed:    0.0s finished

array([5344.])

In [10]:
# Save model based on time st
rf_model_path = '../models/' + datetime.datetime.now().strftime("%Y-%m-%d-%H-%M-%S") + '.pkl'
pickle.dump(rf_model, open(rf_model_path, 'wb'))